TENANT REPRESENTATION IN COMMERCIAL REAL ESTATE 

Many commercial real estate practitioners focus their efforts on helping tenants to acquire lease space. This topic can be an entire course on its own, but any licensee with some basic knowledge can acquire these skills fairly quickly. Tenant representatives are typically paid a commission based on the gross amount of the lease. Some of the intricacies of the commission arrangement include timing of payment and whether the broker will be paid on renewal options.

PROPERTY MANAGEMENT 

Some investors take an active, hands-on role in the daily operation of their investment properties. Such a role has the advantage of ensuring that the investor is constantly aware of the conditions, value, and problems of the properties and their tenants, and provides a high degree of control. Many investors, however, find such day-to-day management and operation of their investments to be burdensome or (in the case of large-scale investors who own many properties) virtually impossible. These investors frequently hire professional property managers to operate investment properties on the owner's behalf.

RESPONSIBILITIES OF THE PROPERTY MANAGER 

Property management involves the leasing, managing, marketing, and overall maintenance of real estate owned by an investor, usually rental property. The property manager has three principal responsibilities:

Financial management
Physical management (structure and grounds)
Administrative management (files and records)
The property manager is responsible for maintaining the investor's investment and earning as much income from the property as possible. This can be done in several ways. The physical property must be maintained in good condition. Suitable tenants must be found, rent must be collected, and employees must be hired and supervised. The property manager is responsible for budgeting and controlling expenses, keeping proper accounts, and making periodic reports to the owner. In all of these activities, the manager's primary goal is to operate and maintain the physical property in such a way as to preserve and enhance the owner's capital investment.

Some property managers work for property management companies. These firms manage properties for a number of owners under management agreements. Other property managers are independent. The property manager has an agency relationship with the owner, which involves greater authority and discretion over the management decisions than an employee would have. The property manager (or the owner) may employ individual building managers to supervise the daily operations of a building. In some cases, the individuals may be residents of the buildings they manage.

THE MANAGEMENT AGREEMENT 

The first step in turning over day-to-day operations of an investment property to a manager is the management agreement. This agreement creates an agency relationship between the owner and the property manager. The property manager usually is considered to be a general agent. After entering into an agreement with a property owner, a manager handles the property in the same way an owner would. In all activities, the manager's first responsibility is to realize the highest return on the property in a manner consistent with the owner's instructions.

A property manager's specific responsibilities will be determined by the particular management agreement. Certain duties, however, are found in most agreements. These include budgeting, setting rental rates, selecting tenants, collecting rent, maintaining the property, and complying with legal requirements.

Like any other contract involving real estate, the management agreement should be in writing to ensure that it is enforceable by the parties. At a minimum, the following points should be covered:

Description of the property.
Length of time the property manager will be contracted.
Definition of management's responsibilities—All the manager's duties should be specifically stated in the contract. Any limitations or restrictions on what the manager may do should be included.
Statement of owner's purpose—The investor should clearly state what he or she wants the manager to accomplish, such as maximizing net income or increasing the capital value of the investment. What the manager does will depend on the owner's long-term goals for the property.
Extent of manager's authority—The agreement should state what authority the manager is to have in matters such as hiring, firing, and supervising employees; fixing rental rates for space; and making expenditures and authorizing repairs. Repairs that exceed a certain expense limit may require the owner's written approval.
Reporting—The frequency and detail of the manager's periodic reports on operations and financial position should be agreed on. These reports serve as a means for the investor to monitor the manager's work.
Management fee—The fee may be based on a percentage of gross or net income, a fixed fee, or some combination of those and other factors. Management fees are subject to antitrust laws, so they cannot be standardized in the marketplace, which would amount to price-fixing. The fee must be negotiated. In addition, the property manager may be entitled to a commission on new rentals and renewed leases.
Allocation of costs—The agreement should state which of the property manager's expenses, such as office rent, office help, telephone, advertising, and association fees, will be paid by the manager. Other costs will be incurred by the investor.

